<% layout('layouts/boilerplate.ejs') %>
    <h1 class="">Edit: <%= camp.title %>
    </h1>


    <form action="/campgrounds/<%=camp._id%>?_method=put" method="post">
        <div class="">
            <label for="title" class="">Camp Name</label>
            <div class="">
                <input class="" type="text" name="title" placeholder="Enter canp's name" id="title"
                    value="<%= camp.title %> ">
            </div>
        </div>
        <div>
            <label for="price">Price</label>
            <div>
                <input placeholder="Enter price" type="number" name="price" id="price" min="0" step="0.01"
                    value="<%=camp.price%>">
            </div>
        </div>

        <div class="">
            <label for="city">City</label>
            <div>
                <input type="text" name="city" placeholder="Enter city" id="city"
                    value="<%=camp.location.split(',')[0]%>">
            </div>
        </div>

        <div>
            <label for="state">State</label>
            <div>
                <div>
                    <select id="state" name="state">
                        <option>Select State</option>
                        <%for (const state in stateList) {%>
                            <option value="<%=stateList[state]%>" <%=camp.location.split(', ')[1]===stateList[state]?
                                "selected":'' %>>
                                <%=stateList[state]%>
                            </option>
                            <%} %>
                    </select>
                </div>
            </div>
        </div>

        <div >
            <label for="description" >Description</label>
            <div  class="">
                <textarea name="description" id="description" 
                    placeholder="Describe the camp..." ><%=camp.description%></textarea>
            </div>
        </div>


        <div >
            <div >
                <button type="submit" >Submit</button>
            </div>
      
        <div >
            <a  href="/campgrounds">Go Back</a>
        </div>
        </div>
    </form>
    <hr>
    <form action=<%=`/campgrounds/${camp._id}?_method=delete`%> method="post"><div ><button
        >Delete Camp</button></div>
</form>