<% layout('layouts/boilerplate.ejs') %>

    <div class="row">
        <!-- Title of the page -->
        <h1 class="text-center" id="klkTittle">
            <%= camp.title %>: edit
        </h1>

        <div class="col-6 offset-3">
            <form action=<%=`/campgrounds/${camp._id}?_method=put`%> method="post" class="validated-form"
                enctype="multipart/form-data" novalidate>
                <!-- Camp' s Name -->
                <div class="mb-3">
                    <label for="title" class="form-label">Camp name</label>
                    <input type="text" name="title" class="form-control" id="title" placeholder="Enter name"
                        value="<%= camp.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- Camp's Image -->
                <div class="mb-3">
                    <label for="carouselExampleIndicators" class="form-label">Number of Images: <%= camp.images.length%>
                    </label>
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">

                        <div class="carousel-inner card-img-top">

                            <% if (camp.images.length> 1) {%>
                                <div class="carousel-item active image-area">
                                    <img src="<%= camp.images[0].url %>" class="d-block w-100"
                                        alt="<%=camp.images[0].filename%>">
                                    <a class="remove-image deleteImageOnCLick" style="display: inline;">&#215;</a>
                                </div>
                                <% for (let img of camp.images.slice(1)) {%>
                                    <div class="carousel-item image-area">
                                        <img src=" <%= img.url %>" alt="<%=img.filename%>" class="d-block w-100">
                                        <a class="remove-image  deleteImageOnCLick" href="#"
                                            style="display: inline;">&#215;</a>
                                    </div>
                                    <%} } else{%>
                                        <div class="carousel-item active image-area">
                                            <img src="<%= camp.images[0].url %>" class="d-block w-100"
                                                alt="<%=camp.images[0].filename%>">
                                            <a class="remove-image  deleteImageOnCLick" href="#"
                                                style="display: inline;">&#215;</a>
                                        </div>
                                        <% } %>

                        </div>
                        <% if (camp.images.length> 1) {%>
                            <div class="paraButones">
                                <button class="carousel-control-prev carousel-control-tamano" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next carousel-control-tamano" type="button"
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <% } %>
                    </div>
                </div>
                <!-- Camp's Image Upload Button -->
                <!-- Camp's Image Type='file'-->
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Add New Images</label>
                    <input class="form-control" type="file" name="image" id="formFileMultiple" multiple>
                </div>

                <!-- Camp's Price -->
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" name="price" class="form-control" id="price" placeholder="Enter amount"
                        value="<%=camp.price%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- Camp's City -->
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" name="city" class="form-control" id="city" placeholder="Enter city"
                        value="<%=camp.location.split(',')[0]%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>


                <!-- Camp's State -->
                <div class="mb-3">
                    <label for="state" class="form-label">State</label>
                    <select class="form-select" id="state" name="state" aria-label="Default select example" required>
                        <option selected disabled value="">Select state</option>
                        <%for (const state in stateList) {%>
                            <option value=<%=`${stateList[state]}`%>
                                <%=`${camp.location.split(', ')[1]===stateList[state]?
                                                "selected":''}`%>>
                                                <%=`${stateList[state]}`%>
                                            </option>
                        <%} %>
                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                 <!-- Camp' s Description -->
                                    <div class="mb-3 ">
                                        <label for="description" class="form-label">Description</label>
                                        <textarea class="form-control" placeholder="Camp description..."
                                            name="description" id="description" style="height: 100px"
                                            required> <%=`${camp.description}`%></textarea>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <!-- Submit Button -->
                                    <div class="formBottomButton">
                                        <button type="submit" class="btn btn-primary formButton ">Update</button>
                                        <button type="reset" class="btn btn-danger formButton ">Reset</button>
                                        <a href=<%=`/campgrounds/${camp._id}`%> class="btn btn-dark ">Go Back</a>
                                    </div>
            </form>
        </div>

    </div>
    <!-- This is to get the logic of the image to delete it -->
    <script src="/js/editImg.js">  </script>