<% layout('layouts/boilerplate.ejs') %>
    <h1 class="">All CampGrounds Availables</h1>

    <% for (camp of camps) { %>

        <div class="card mb-4">
            <img src=<%=`${camp.image}`%> class="card-img-top mh-50 img-fluid" alt="...">
            <div class="card-body">
                <div class="indexBottomContainer">
                    <div>
                        <h5 class="card-title">
                            <%= camp.title%>
                        </h5>
                        <p class="card-text">$<%=camp.price%>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%=camp.location%>
                            </small>
                        </p>
                    </div>
                    <a href=<%=`/campgrounds/${camp._id}` %> class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>

        <% }%>