<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>
        <%= camp.title %>
    </title>
</head>

<body>
    <h1>
        <%= camp.title %>
    </h1>
    <a href=<%=`/campgrounds/${camp._id}/edit`%> class="button is-small">edit</a>
    <h3>Price:</h3>
    <p>
        <%= camp.price %>
    </p>
    <h3>Location:</h3>
    <p>
        <%= camp.location %>
    </p>
    <h3>Description:%>
    </h3>
    <p>
        <%= camp.description %>
    </p>
</body>

</html>